// Structure helpers
.row.row--fullwidth {
	max-width: 100%;
}

.row.row--less-column-gutter {
	> .columns {
		&:first-child {
			padding-right: rem-calc(7.5);
		}
		&:last-child {
			padding-left: rem-calc(7.5);
		}
	}
}

.row.row--equal-columns {
	@include breakpoint(large) {
		display: table;
		width: 100%;

		> .columns {
			float: none !important;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.column--collapse {
	padding-left: 0;
	padding-right: 0;
}

// Spacing helpers
.padding-top {
	padding-top: $global-padding;
}

.padding-top--2x {
	padding-top: $global-padding * 2;
}

.padding-top--3x {
	padding-top: $global-padding * 3;
}

.padding-bottom {
	padding-bottom: $global-padding;
}

.padding-bottom--2x {
	padding-bottom: $global-padding * 2;
}

.padding-bottom--3x {
	padding-bottom: $global-padding * 3;
}

.padding-top-bottom {
	padding-top: $global-padding;
	padding-bottom: $global-padding;
}

.padding-top-bottom--2x {
	padding-top: $global-padding * 2;
	padding-bottom: $global-padding * 2;
}

.padding-top-bottom--3x {
	padding-top: $global-padding * 3;
	padding-bottom: $global-padding * 3;
}

.none {
	display: none;
}

.list-inline {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;

	> li {
		list-style: none;
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 0.5rem;

		&:last-child {
			margin-right: 0;
		}
	}
}